<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand p-2" href="/">
        <img src="/img/kingdom-hearts-logo-908586.png" alt="">
        <span class="navbar-text m-1">REALM OF LIGHT</span>
    </a>
</nav>